.color-black{
	    background: #111111;
}

.color-font{
	color:#eaa636 !important;
}

.color-menu{
	background: rgba(17, 17, 17, .5) !important;
}

.color-fff{
	color:#fff !important;
}

.back-size{
	background-image: url(asset1/img/pub/bg_slider1.png); 
	background-size: cover; 
	background-position: center; 
	height: 600px;
}


.img-title{
	margin-top:-50px;
}

.img-title img{
	width:100%; 
}

.m-50{
	margin-top:-60%; 
}

.m-49{
	margin-top:-49px; 
}

.size-mobile-30{
		font-size:30pt !important;
	}

.size-mobile-15{
		font-size:15pt !important;
	}




@media (max-width: 767px) {
	.img-title img {
		width: 100%;
		height:200px;
	}

	.m-50{
		margin-top:-50%; 
	}

	.size-mobile-30{
		font-size:10pt !important;
		margin-top:-20px;
	}
	.size-mobile-15{
		font-size:8pt !important;
		margin-top:-25px;
	}
}